@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@700&display=swap');
/* font-family: 'Advent Pro', sans-serif; */

footer{
    position: relative;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: auto;
    background-color: var(--negro);
    color:var(--naranja);
    min-height: 7vw;
}

footer::before{
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--naranja);
}

.footer{
    position: relative;
    display: flex;
    text-align: center;
    width: 70%;
    justify-content: space-between;
    margin: auto;
}
.logo{
    display: flex;
    align-items: center;
    margin: auto 0px;
    flex-direction: column;
}

.logo small{
    color: var(--naranja);
}

.aboutUs{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.aboutUs h2{
    font-family: 'Advent Pro', sans-serif;
    font-size: 30px;
    margin-bottom: -5px;
    margin-top: 10px;
}

.aboutUs a{
    text-decoration: none;
    color:var(--gris);
    margin-top: 10px;
}

.aboutUs a:hover{
    cursor: pointer;
}

