@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@700&display=swap');
/* font-family: 'Advent Pro', sans-serif; */

html{
    --naranja: #ff914c;
    --gris: #a69d9a;
    --negro: #343a40;
  }

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--negro);
}

.h1Header{
    color: var(--naranja);
    padding-left: 5vw;
    font-family: 'Advent Pro', sans-serif;
    font-size: 50px;
}

nav{
    padding-right: 5vw;
}
  
nav a{
    margin:5px 1rem;
    text-decoration: none;
    color: white;
}

span{
    padding-left: 1vw;
}

.manages{
    display: flex;
    width: 40vw;
    justify-content: space-between;
}