@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@700&display=swap');
/* font-family: 'Advent Pro', sans-serif; */

.welcome{
    background-color: var(--naranja);
    height: 14rem;
    text-align: center;
    color: var(--negro);
}

.welcome p{
    font-size: 25px;
    margin-bottom: 30px;
}

#salute{
    margin-top: 0px;
    color: var(--negro);
    margin-bottom: 10px;
    padding-top: 1rem;
    font-size: 70px;
    font-family: 'Advent Pro', sans-serif;
    text-transform: uppercase;
}

main{
    display: grid; 
    grid-template-columns: repeat(4, auto);
    margin: 3rem;
    gap: 2rem;
    width: 95%;
    margin: auto;
    padding-bottom: 1rem;
}
